
body {
  margin: 0;
  }
  ul.gallery {
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 24px 156px;
  margin: 0 auto;
  }
    
  li.gallery-item {
  width: calc((100% - 48px) / 3); 
  box-sizing: border-box;
  }
  .basicLightbox {
  background: rgba(46, 47, 66, 0.8);
  } 
  img.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  }
  .basicLightbox__content img.modal {
    width: 1112px;
    height: 640px;
  }